.popup__container_type_open-card-image {
  width: auto;
  max-width: 75vw;
  max-height: 75vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  display: none;
  align-items: flex-start;
  background-color: transparent;
  box-shadow: none;
}

@media screen and (max-width: 550px) {
  .popup__container_type_open-card-image {
    margin: 0;
    padding: 0;
  }
}
