.button_type_submit {
  margin-bottom: 37px;
  min-height: 50px;
  width: 100%;
  background-color: #000;
  border-radius: 2px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.button_type_submit:hover {
  opacity: .8;
}

@media screen and (max-width: 550px) {
  .button_type_submit {
    min-height: 46px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
