.button_type_close {
  width: 56px;
  height: 56px;
  background: transparent center url(../../../images/close.svg);
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: -48px;
  right: -48px;
}

@media screen and (max-width: 550px) {
  .button_type_close {
    top: -49px;
    right: 0;
    width: 36px;
    height: 36px;
  }
}
