.button_type_like {
  width: 22px;
  height: 19px;
  background: transparent center no-repeat url(../../../images/like.svg);
  position: absolute;
  top: -3px;
  left: 0;
}

.button_type_like:hover {
  opacity: 0.5;
}
